<a href="https://colab.research.google.com/github/akhil-kakumanu/PythonProgrammingBasic/blob/main/BasicsOfPython_Assignment_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Convert KiloMeter to Mile

In [ ]:
def lengthConverter(lengthInKm):
  lengthInMile = lengthInKm*0.62
  return lengthInMile

lengthInKm = float(input("Enter the length in KM: "))
print(str(lengthInKm)+" KM is "+str(lengthConverter(lengthInKm))+" Miles")

Enter the length in KM: 5
5.0 KM is 3.1 Miles

Convert Temperature in Celsius to Farenhit

In [21]:
def temperatureConverter(tempInCelsius):  
  tempInFarenhit = (tempInCelsius*1.8)+32
  return tempInFarenhit

tempInCelsius = float(input("Enter the length in KM: "))
print(str(tempInCelsius)+"^C is "+str(temperatureConverter(tempInCelsius))+"^F")

Enter the length in KM: 37.5
37.5^C is 99.5^F

Print the Calendar of the particular Year

In [4]:
import calendar

def displayCalendar(year):
  print (calendar.calendar(year, 2, 1, 6))

year = int(input("Enter the Year: "))
displayCalendar(year)

Enter the Year: 2012
                                  2012

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                   1             1  2  3  4  5                1  2  3  4
 2  3  4  5  6  7  8       6  7  8  9 10 11 12       5  6  7  8  9 10 11
 9 10 11 12 13 14 15      13 14 15 16 17 18 19      12 13 14 15 16 17 18
16 17 18 19 20 21 22      20 21 22 23 24 25 26      19 20 21 22 23 24 25
23 24 25 26 27 28 29      27 28 29                  26 27 28 29 30 31
30 31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                   1          1  2  3  4  5  6                   1  2  3
 2  3  4  5  6  7  8       7  8  9 10 11 12 13       4  5  6  7  8  9 10
 9 10 11 12 13 14 15      14 15 16 17 18 19 20      11 12 13 14 15 16 17
16 17 18 19 20 21 22      21 22 23 24 25 26 27      18 19 20 21 22 23 24
23 24 25 26 27 28 29      28 29 30 31               25 26 27 28 29 30
30

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                   1             1  2  3  4  5                      1  2
 2  3  4  5  6  7  8       6  7  8  9 10 11 12       3  4  5  6  7  8  9
 9 10 11 12 13 14 15      13 14 15 16 17 18 19      10 11 12 13 14 15 16
16 17 18 19 20 21 22      20 21 22 23 24 25 26      17 18 19 20 21 22 23
23 24 25 26 27 28 29      27 28 29 30 31            24 25 26 27 28 29 30
30 31

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7                1  2  3  4                      1  2
 8  9 10 11 12 13 14       5  6  7  8  9 10 11       3  4  5  6  7  8  9
15 16 17 18 19 20 21      12 13 14 15 16 17 18      10 11 12 13 14 15 16
22 23 24 25 26 27 28      19 20 21 22 23 24 25      17 18 19 20 21 22 23
29 30 31                  26 27 28 29 30            24 25 26 27 28 29 30
                                                    31

Solve a Quadratic equation of type ax^2+bx+c=0

In [6]:
import math

def quadEquation (a,b,c):
  resp1 = (-b+math.sqrt(b*b-4*a*c))/(2*a)
  resp2 = (-b-math.sqrt(b*b-4*a*c))/(2*a)
  if resp1==resp2:
    print("Value of X is "+str(resp1))
  else:
    print("Value of X is "+str(resp1)+" or "+str(resp2))

squareValue = float(input("Enter the Square value: "))
singleValue = float(input("Enter the Single value: "))
constValue = float(input("Enter the Constant value: "))
resp = quadEquation(squareValue, singleValue, constValue)

Enter the Square value: 1
Enter the Single value: -8
Enter the Constant value: 12
Value of X is 6.0 or 2.0

Swap two variables

In [2]:
a=5
b=7
a,b=b,a
print(a,b)

7 5